@page "/profile"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Web.Pages.ProfileModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <div>
            <h2> My Information </h2>
            <b> Username: @(User.Identity.Name) </b>
            <br>
            <b> Email: Unknown </b>
            <br>
            <form asp-page-handler="DeleteAccount" method="post">
                <button id="DeleteButton" type="submit">Delete My Account</button>
            </form>
        </div>

        <br> <br>

        <div>
            <h2> Following </h2>
        </div>

        <br> <br>

        <div>
            <h2> Followers </h2>
        </div>

        <br> <br>

        <div>
            <h2> My Cheeps </h2>

            @if (Model.Cheeps.Any())
            {
                <ul id="messagelist" class="cheeps">
                    @foreach (CheepDTO cheep in Model.Cheeps)
                    {
                        <li>
                            <p>
                                <strong>
                                    <a href="/@cheep.Author">@cheep.Author</a>
                                </strong>
                                @cheep.Text
                                <small>&mdash; @cheep.TimeStamp</small>
                            </p>
                        </li>
                    }
                </ul>
            }
            else
            {
                <em>There are no cheeps.</em>
            }
        </div>
    }
    else
    {
        <em>You can't see your profile you aren't logged in!</em>
    }
</div>